<mat-card
  [style.background]="
    'url(' + artist.images[0].url + ') no-repeat center center'
  "
  [style.background-size]="'cover'"
  [style.height]="'450px'"
  *ngIf="artist"
>
</mat-card>
<br /><br />
<h1>Full Discography</h1>

<div fxLayout="row wrap" fxLayout.xs="column">
  <!-- Single "Responsive" Card-->
  <div fxFlex [style.margin]="'20px'" *ngFor="let list of albums">
    <mat-card [style.min-width]="'200px'">
      <mat-card-header>
        <mat-card-title>{{ list.name }}</mat-card-title>
        <mat-card-subtitle>Album Title</mat-card-subtitle>
      </mat-card-header>
      <img
        routerLink="/album/{{ list.id }}"
        mat-card-image
        class="album-cover"
        src="{{ list.images[0].url }}"
        alt="album art"
      />
      <strong>Release Date: </strong>{{ list.release_date }}<br />
      <strong>Tracks: </strong>{{ list.total_tracks }}
    </mat-card>
  </div>
  <!-- -->
</div>
